body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    box-sizing: border-box;
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0; 
}

.container {
    height: 700px;
    width: 500px;
    margin: 0px 10px;
    border:2px solid white;
}

.container p {
    font-size: large;
}